@import '../App.css';

.piano-roll {
  min-height: 0;
  min-width: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  user-select: none;
  border: 3px solid lightgray;
  border-radius: 3px;
  box-sizing: border-box;
}

.piano-roll.bass {
  border: 3px solid var(--bassColor);
  flex-shrink: 1;
}

.piano-roll.lenny {
  border: 3px solid var(--lennyColor);
}

.piano-roll.drum-sequencer.drummer {
  border: 3px solid var(--drummerColor);
}

.piano-roll.drum-sequencer {
  flex-shrink: 1;
  /* margin: 8px 0px; */
}

.piano-roll-editor {
  min-height: 0px;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: flex-end;
  flex-grow: 1;
}

.piano-roll-keys {
  min-height: 0px;
  width: 0px;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: flex-end;
}

.step-row {
  min-height: 0px;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.piano-key {
  height: 100%;
  min-height: 0px;
  padding: 0px;
  ;
  margin: 0px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.piano-key p {
  width: 0px;
  font-size: 10px;
  float: left;
  /* display: */
  /* overflow-wrap: break-word; */
  /* word-wrap: break-word; */
  /* hyphens: auto; */
}

.piano-key.black {
  background-color: var(--black);
  color: var(--light-grey);
}

.piano-key.white {
  background-color: var(--light-grey);
  color: var(--black);
}