:root {
  --black: #0D0D0D;
  --lightest-grey: #E6E6E6;
  --light-grey: #D5D5D5;
  --grey: #939393;
  --dark-grey: rgb(121, 121, 121);
  --synth1Color: #26C6C6;
  --bassColor: #FF6AEE;
  --lennyColor: yellow;
}

.piano-roll {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 75%;
  margin: auto;
  user-select: none;
}

.piano-roll-editor {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: flex-end;
}

.step-row {
  height: 26px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.step-row.black {
  background-color: var(--grey);
}

.step-row.white {
  background-color: var(--lightest-grey);
}
.step-row.white:nth-of-type(odd) {
  background-color: var(--light-grey);
}

.piano-cell {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--dark-grey);
  font-family: 'Roboto';
  font-size: 10px;
}

.cell-trigger-synth1 {
  background-color: var(--synth1Color);
  border-radius: 5px;
  border-color: var(--synth1Color);
}

.cell-trigger-bass {
  background-color: var(--bassColor);
  border-radius: 5px;
  border-color: var(--bassColor);
}

.cell-trigger-lenny {
  background-color: var(--lennyColor);
  border-radius: 5px;
  border-color: var(--lennyColor);
}

.cell-trigger {
  width: 100%;
  height: 100%;
}

.piano-cell p::after {
  content: '%';
}

/* KEYS */

.piano-roll-keys {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: flex-end;
}

.piano-key {
  height: 26px;
  width: 40px;
  padding: 0px;;
  margin: 0px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.piano-key.black {
  background-color: var(--black);
  color: var(--light-grey);
}

.piano-key.white {
  background-color: var(--light-grey);
  color: var(--black);
}
.piano-key p {
  font-family: 'Roboto';
  font-size: 10px;
  padding: 0;
  margin: 0;
}