#App {
  margin: auto;
}

#sequencer {
  margin: auto;
}

#piano {
  margin: auto;
}

#amp-env {
  margin: auto;
  text-align: center;
}

#filter-env {
  margin: auto;
  text-align: center;
}

.knob-row {
  margin: auto;
  display: flex;
  justify-content: center;
}

.knob {
  width: 100px;
  height: 100px;
}