@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,700,900|Open+Sans&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Gothic A1', 'Helvetica', sans-serif;
  font-size: 24px;
  font-weight: 900;
}

#App {
  margin: auto;
  width: 90%;
}

#sequencer {
  width: 600px;
  height: 420px;
  margin: 0 auto 80px auto;
}

#amp-env {
  text-align: center;
}

#filter-env {
  text-align: center;
}

#frequency-offset {
  margin: auto;
  width: 150px;
}

#play-button {
  width: 60px;
  margin: auto;
  display: block;
}

.knob-row {
  margin: auto;
  display: flex;
  justify-content: center;
}

.knob {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 16px;
  line-height: 4;
  font-family: 'Gothic A1', 'Helvetica', sans-serif;
  font-weight: 500;
}