@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,700,900|Open+Sans&display=swap');

:root {
  --black: #0D0D0D;
  --lightest-grey: #E6E6E6;
  --light-grey: #D5D5D5;
  --grey: #939393;
  --dark-grey: rgb(121, 121, 121);

  --synth1Color: #26C6C6;
  --synth1Dark: rgb(25, 128, 128);
  --synth1Light: rgb(46, 223, 223);

  --bassColor: rgb(206, 87, 87);
  --bassDark: rgb(138, 44, 44);
  --bassLight: rgb(248, 147, 147);
  --bassDull: #ea8989;

  --lennyColor: #ffd62b;
  --lennyDark: #91781e;
  --lennyLight: #fce796;
  --lennyDull: #f9dd6d;

  --drummerColor: rgb(64, 124, 202);
  --drummerDark: rgb(28, 67, 119);
  --drummerLight: rgb(107, 162, 235);
}

html {
  font-family: 'Open Sans', sans-serif;
  color: var(--black);
}

body {
  margin: 0;
}

h1 {
  font-family: 'Gothic A1', 'Helvetica', sans-serif;
  font-weight: 900;
}

h2 {
  font-family: 'Gothic A1', 'Helvetica', sans-serif;
  font-size: 24px;
  font-weight: 900;
}

main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "head  head   head" 
  ".     top       ." 
  "left center right" 
  ".    bottom    . ";
  grid-template-columns: 15vw minmax(0, auto) 15vw;
  grid-template-rows: 60px 15vh minmax(0, auto) 15vh
}

#control-panel {
  grid-area: head;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#sequencer {
  grid-area: center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

#play-button {
  width: 60px;
  margin: 20px;
  display: block;
}

/* .synth {
  border: 1px solid lightgray;
} */

.bass-synth {
  grid-area: left;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bass-synth h2 {
  line-height: 1;
  margin: 12px 12px 0 12px;
}

.synth-1 {
  grid-area: left;
  display: flex;
  justify-content: center;
}

.lenny-synth {
  grid-area: right;
  display: flex;
  flex-direction: column;
  align-items: center
}

.drummer-synth {
  grid-area: bottom;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

.knob {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 8px;
  line-height: 2;
  font-family: 'Gothic A1', 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: 12px;
  user-select: none;
}

.knob-row {
  display: inherit;
  flex-direction: inherit;
}

/* .knob-row-horizontal {
  flex-direction: row;
  justify-content: center;
}

.knob-row-vertical {
  flex-direction: column;
  justify-content: flex-start;
} */