@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,700,900|Open+Sans&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Gothic A1', 'Helvetica', sans-serif;
  font-size: 24px;
  font-weight: 900;
}



#sequencer {
  width: 600px;
  height: 420px;
  margin: 0 auto 80px auto;
}

#amp-env {
  text-align: center;
}

#filter-env {
  text-align: center;
}

#play-button {
  width: 60px;
  margin: auto;
  display: block;
}

#synth-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.synth {
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 40%;
  display: inline-block;
  margin: 16px;
}

.knob-row {
  margin: auto;
  display: flex;
  justify-content: center;
}

.knob {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 8px;
  line-height: 4;
  font-family: 'Gothic A1', 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: 12px;
  user-select: none;
}